/* Le loader */
.loader {
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 40%;
  left: 30%;
  position: fixed;
  animation: chargeur 3s linear;
  opacity: 0;
}
@media screen and (min-width: 600px) {
  .loader {
    left: 40%;
    top: 30%;
  }
}
@media screen and (min-width: 900px) {
  .loader {
    left: 45%;
    top: 45%;
  }
}

@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #388572;
    border-bottom-color: #388572;
    opacity: 1;
  }
  25% {
    border-top-color: #9256dc;
    border-bottom-color: #9256dc;
  }
  50% {
    transform: rotate(360deg) scale(1.15);
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
  }
  75% {
    border-top-color: #388572;
    border-bottom-color: #388572;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #9256dc;
    border-bottom-color: #9256dc;
    opacity: 0;
  }
}
/* Les coeurs*/
.heart {
  background-image: url("../imagesEtTextesOhmyfood/images/logo/sprite.svg");
  width: 29px;
  height: 28px;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in;
  position: relative;
}
.heart:hover {
  animation: sprite 1s steps(4);
  cursor: pointer;
}

@keyframes sprite {
  100% {
    background-position: -168px;
  }
}
/* Les coeurs*/
.bigheart {
  background-image: url("../imagesEtTextesOhmyfood/images/logo/sprite.svg");
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in;
  position: relative;
  scale: 1.5;
  top: 15px;
}
.bigheart:hover {
  animation: bigsprite 1s steps(4);
  cursor: pointer;
}

@keyframes bigsprite {
  100% {
    background-position: -168px;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "roboto";
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: roboto;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.vignettesgrille {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 600px) {
  .vignettesgrille {
    gap: 50px;
  }
}
@media screen and (min-width: 900px) {
  .vignettesgrille {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-top: 0px;
  }
}

.vignette {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 1px 9px rgb(148, 146, 146);
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 600px) {
  .vignette {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 9px rgb(123, 123, 123);
    width: 170%;
    background-color: #fff;
  }
}
@media screen and (min-width: 900px) {
  .vignette {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    position: relative;
  }
}
.vignette__image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
@media screen and (min-width: 600px) {
  .vignette__image-container {
    width: 100%;
    height: 250px;
  }
}
@media screen and (min-width: 900px) {
  .vignette__image-container {
    width: 100%;
    overflow: hidden;
    background-color: white;
  }
}
.vignette__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -30px;
}
@media screen and (min-width: 900px) {
  .vignette__image-container img {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-top: -30px;
    font-weight: 500;
  }
}
.vignette__texte-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #000000;
  margin-top: -30px;
}
.vignette__titlebox {
  display: flex;
  flex-direction: column;
}
.vignette__titlebox--weight {
  font-size: 16px;
  font-weight: 600;
}
.vignette__nouveau {
  position: absolute;
  right: 0px;
  margin: 20px 45px 0px 0px;
  width: 50px;
  border-radius: 3px;
  padding: 5px 20px 3px 20px;
  background-color: #99E2D0;
  color: #388572;
  font-size: 13px;
}
@media screen and (min-width: 600px) {
  .vignette__nouveau {
    position: absolute;
    left: 0px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 900px) {
  .vignette__nouveau {
    margin: 10px 0px 0px 180px;
  }
}

.boutton {
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 50px;
  border: none;
  color: #fff;
  padding: 13px 20px 13px 20px;
  box-shadow: 3px 2px 10px;
}

.boutton :hover {
  box-shadow: 3px 2px 10px rgb(148, 146, 146);
  background: linear-gradient(180deg, #f798dc 0%, #986bcf 100%);
  border-radius: 50px;
  border: none;
  color: #fff;
  padding: 13px 20px 13px 20px;
  box-shadow: 3px 2px 10px;
}

.headerhomepage {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  margin-top: 10px;
}
.headerhomepage__img {
  margin-left: 50%;
  transform: translateX(-60%);
}

.header {
  display: flex;
  justify-content: center;
  padding: 12px 15px 10px 15px;
  background-color: #fff;
  z-index: 1000;
  font-family: Shrikhand;
  font-size: 28px;
}
@media screen and (min-width: 600px) {
  .header {
    font-size: 48px;
  }
}
@media screen and (min-width: 900px) {
  .header {
    font-size: 48px;
  }
}

.footer {
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgb(59, 59, 59);
  margin-top: -50px;
}
@media screen and (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 15px 20px 0px 60px;
    gap: 0px;
  }
}
@media screen and (min-width: 900px) {
  .footer {
    padding: 10px 0px 0px 0px;
    gap: 80px;
  }
}
.footer__flex {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 13px;
}
@media screen and (min-width: 600px) {
  .footer__flex {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 20px 20px 20px;
    justify-content: flex-end;
    gap: 30px;
    flex-basis: 150%;
    font-size: 15px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 900px) {
  .footer__flex {
    justify-content: flex-start;
    margin-right: 60px;
    gap: 84px;
  }
}
.footer__flex--font {
  color: #fff;
  font-size: 16px;
  font-family: Shrikhand;
}
.footer__flex2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 600px) {
  .footer__flex2 {
    flex-direction: row;
    gap: 14px;
  }
}
@media screen and (min-width: 900px) {
  .footer__flex2 {
    flex-direction: row;
    gap: 84px;
  }
}
.footer__flex2--icone {
  transform: rotate(-60deg);
}
.footer__flex2 :nth-child(1) {
  font-weight: 850;
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.footer__flex2 :nth-child(2) {
  font-weight: 850;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.footerhomepage {
  padding: 25px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgb(59, 59, 59);
}
@media screen and (min-width: 600px) {
  .footerhomepage {
    display: flex;
    flex-direction: row-reverse;
    padding: 15px 20px 0px 60px;
    gap: 0px;
  }
}
@media screen and (min-width: 900px) {
  .footerhomepage {
    padding: 10px 0px 0px 0px;
    gap: 80px;
  }
}
.footerhomepage__flex {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 13px;
}
@media screen and (min-width: 600px) {
  .footerhomepage__flex {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 20px 20px 20px;
    justify-content: flex-end;
    gap: 30px;
    flex-basis: 150%;
    font-size: 15px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 900px) {
  .footerhomepage__flex {
    justify-content: flex-start;
    margin-right: 60px;
    gap: 84px;
  }
}
.footerhomepage__flex--font {
  color: #fff;
  font-size: 16px;
  font-family: Shrikhand;
}
.footerhomepage__flex2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 600px) {
  .footerhomepage__flex2 {
    flex-direction: row;
    gap: 14px;
  }
}
@media screen and (min-width: 900px) {
  .footerhomepage__flex2 {
    flex-direction: row;
    gap: 84px;
  }
}
.footerhomepage__flex2--icone {
  transform: rotate(-60deg);
}
.footerhomepage__flex2 :nth-child(1) {
  font-weight: 850;
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.footerhomepage__flex2 :nth-child(2) {
  font-weight: 850;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media screen and (min-width: 600px) {
  .nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .nav {
    align-items: center;
    gap: 20px;
  }
}
.nav__boutton {
  font-size: footer-size 13px;
  border-radius: 20px;
  border: none;
  background-color: #f0efef;
  box-shadow: 3px 2px 10px rgb(148, 146, 146);
  cursor: pointer;
  width: clamp(100px, 100%, 240px);
  position: relative;
  display: flex;
  gap: 0px;
  padding: 15px;
  padding-left: 40px;
}
@media screen and (min-width: 600px) {
  .nav__boutton {
    padding-left: 25px;
  }
}
@media screen and (min-width: 900px) {
  .nav__boutton {
    padding-left: 35px;
  }
}
.nav__boutton--orga {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #000000;
  font-size: footer-size 13px;
}
@media screen and (min-width: 600px) {
  .nav__boutton--orga {
    font-size: 14px;
    font-weight: 400;
    gap: 20px;
  }
}
@media screen and (min-width: 900px) {
  .nav__boutton--orga {
    gap: 25px;
  }
}
.nav__boutton p {
  font-weight: 500;
}
.nav__boutton i {
  color: #c0c0c0;
  scale: 1.4;
}
.nav__boutton:hover i {
  color: #9356DC;
}
.nav__boutton:hover {
  background-color: rgba(213, 182, 255, 0.6);
  box-shadow: 3px 2px 8px rgb(39, 39, 39);
}

.navnumero {
  position: absolute;
  left: -10px;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #9356DC;
  border-radius: 50px;
  color: #fff;
}

.localisation {
  background: linear-gradient(180deg, rgb(147, 147, 147) 0%, #e3e1e1 20%);
  background-color: #c5c7c7;
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding: 20px 10px 10px 10px;
  font-weight: 400;
  z-index: -1000;
}
.localisation__texte i {
  position: relative;
  right: 8%;
}

.imagerestaurant img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
@media screen and (min-width: 600px) {
  .imagerestaurant img {
    height: 350px;
  }
}
@media screen and (min-width: 900px) {
  .imagerestaurant img {
    height: 550px;
    z-index: -20000;
  }
}

.menu {
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #f0efef;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  position: relative;
  top: -50px;
  padding-bottom: 40px;
}
@media screen and (min-width: 600px) {
  .menu {
    width: 70%;
    margin: auto;
    z-index: 100;
  }
}
@media screen and (min-width: 900px) {
  .menu {
    width: 70%;
    margin: auto;
    z-index: 100;
  }
}
.menu__boxanimation1 {
  animation: apparaitre1 3s ease-in 0.3s forwards;
}
@keyframes apparaitre1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__boxanimation2 {
  animation: apparaitre2 3s ease-in 0.6s forwards;
}
@keyframes apparaitre2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__boxanimation3 {
  animation: apparaitre3 3s ease-in 0.9s forwards;
}
@keyframes apparaitre3 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__titre {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  font-family: Shrikhand;
  width: 110%;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 600px) {
  .menu__titre {
    gap: 15px;
  }
}
@media screen and (min-width: 900px) {
  .menu__titre {
    gap: 25px;
  }
}
.menu__titre i {
  height: 30%;
  margin-top: 8px;
  scale: 1.5;
}
.menu__plat {
  align-self: flex-start;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 100;
}
.menu__plat--decoration {
  width: 50px;
  height: 4px;
  margin-top: 4px;
  margin-left: -2px;
  background-color: #99E2D0;
}
.menu__box {
  width: 90%;
  gap: 5px;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 3px 2px 10px rgb(148, 146, 146);
  border-radius: 20px;
  color: #000000;
  display: flex;
  width: 90%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.menu__texte {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.menu__texte--prixflex {
  align-self: flex-end;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  padding-bottom: 15px;
}
.menu__point {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  padding: 16px;
}
@media screen and (min-width: 600px) {
  .menu__point {
    width: 400px;
  }
}
.menu__point--h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
@media screen and (min-width: 600px) {
  .menu__point--h4 {
    width: 400px;
  }
}
.menu__point--span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}
@media screen and (min-width: 600px) {
  .menu__point--span {
    width: 400px;
  }
}
.menu__bell {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  width: 50px;
  height: 100%;
  position: absolute;
  left: 117%;
  opacity: 1;
  top: 0;
  border-radius: 0 20px 20px 0;
  transition: 0.5s ease-in;
  transform: translateX(-100%);
}
.menu__bell--circle {
  position: absolute;
  top: 45%;
  margin: auto;
  color: #fff;
  rotate: 200deg;
  transition: 0.1s ease-in;
  scale: 1.5;
}
.menu__bell--prix {
  transition: 0.3s ease-in;
}
.menu .menu__box:hover .menu__bell {
  opacity: 1;
  left: 100%;
  transition: 0.5s ease-in;
}
.menu .menu__box:hover .menu__bell--circle {
  rotate: 0deg;
  transition: 0.7s ease-in;
}
.menu .menu__box:hover .menu__bell--prix {
  transition: 0.5s ease-in;
  transform: translateX(-130%);
}

.reservation {
  background-color: #f0efef;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 10px;
  text-align: center;
}
.reservation__titre {
  width: 65%;
  font-size: 20px;
  font-weight: 850;
  color: #001534;
}
@media screen and (min-width: 600px) {
  .reservation__titre {
    width: 100%;
    font-size: 30px;
  }
}
.reservation__sous-titre {
  font-weight: 100;
  width: 90%;
  font-size: 15px;
  color: #001534;
}
.reservation__boutton {
  margin-bottom: 20px;
  margin-top: 20px;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px 16px !important;
}
@media screen and (min-width: 600px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
  }
}
.fonctionnement__titre {
  font-size: 20px;
  align-self: flex-start;
  margin-bottom: 10px;
  margin-left: 25px;
}
@media screen and (min-width: 600px) {
  .fonctionnement__titre {
    margin-bottom: 20px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 900px) {
  .fonctionnement__titre {
    align-self: flex-start;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 25px;
    margin-left: 250px;
  }
}
.fonctionnement__titre--weight {
  font-weight: 600;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px 50px 10px;
  background-color: #f0efef;
}
@media screen and (min-width: 900px) {
  .restaurants {
    padding-left: 230px;
  }
}
.restaurants__titre {
  align-self: flex-start;
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
}
@media screen and (min-width: 900px) {
  .restaurants__titre {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
