.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    @include tablette-only {
        display: flex;
        flex-direction: row;
        gap: 15px;
       width: 100%;
    }

    @include desktop-only {
        align-items: center;
        gap: 20px;  
    }

   &__boutton {
        @include btn;
        width: clamp(100px, 100%, 240px);
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px;
        padding-left: 40px;
        font-size: 13px;
        
        @include tablette-only {
            padding-left: 25px;
        }

        @include desktop-only {
            padding-left: 35px;
            gap: 30px;
        }

        &--navnumero {
            position: absolute;
            left: -10px;
            bottom: 0;
            top: 0;
            margin: auto;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: map-get($font-size, numero-size);
            background-color: $colour-primaire;
            border-radius: 50px;
            color: $colour-white;
        }
   }

    &__boutton p {
    font-weight: 500;
    color: black;
    
   }

    &__boutton i {
        color: #c0c0c0;
        transform: scale(1.4, 1.4)

    }

    &__boutton:hover i {
        color: $colour-primaire;
    }

    &__boutton:hover {
        background-color: $colour-hover-violet;
        box-shadow: $shadow3 rgb(39, 39, 39);
    }

    
}



