.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    
    @include tablette-only {
        display: flex;
        flex-direction: row;
        gap: 15px;
       width: 100%;
    }

    @include desktop-only {
        align-items: center;
        gap: 20px;
       
    }

   &__boutton {
        @include btn;
        width: clamp(100px, 100%, 240px);
        position: relative;
        display: flex;
        gap: 0px;
        padding: 15px;
        padding-left: 40px;
        
       

        @include tablette-only {
            padding-left: 25px;
        }

        @include desktop-only {
            padding-left: 35px;
        }

       
        
        
    &--orga{
            display: flex;
            align-items: center;
            gap: 15px;
            color: $colour-black;
        font-size: nth($font-size, 1);
       
       
        @include tablette-only {
            font-size: 14px;
            font-weight: 400;
             gap:20px;
          }

          @include desktop-only {
             gap:25px;
          }

          
       }
   }

   &__boutton p {
    font-weight: 500;
}

    &__boutton i {
        color: #c0c0c0;
        scale: 1.4;
    }

    &__boutton:hover i {
        color: $colour-primaire;
    }

    &__boutton:hover {
        background-color: $colour-hover-violet;
        box-shadow: $shadow3 rgb(39, 39, 39);
    }
}


.navnumero {
    position: absolute;
    left: -10px;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: map-get($font-size, numero-size);
    background-color: $colour-primaire;
    border-radius: 50px;
    color: $colour-white;
   


}