.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 50px 16px !important;
   
  
    @include tablette-only {
        display: flex;
        flex-direction: column;
    }


    &__titre {
        
        font-size: map-get($font-size, titre);
         align-self: flex-start;
         
         margin-bottom: 10px;
         margin-left:25px;
         
         
         
        @include tablette-only {
            margin-bottom: 20px;
            margin-left:0px;
        }

        @include desktop-only {
            align-self: flex-start;
            font-size: 20px;
            font-weight: 900;
            margin-bottom: 25px;
            margin-left: 250px;
        }
    }

    &__titre--weight {
        font-weight: 600;
    }


}