.imagerestaurant img {
    width: 100%;
    height: 250px;
    object-fit: cover;

    @include tablette-only {
        height: 350px;
    }

    @include desktop-only {
        height: 550px;
        z-index: -20000;
    }
}