
/* Les coeurs*/ 
.bigheart {
    background-image: url("../imagesEtTextesOhmyfood/images/logo/sprite.svg");
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in;
    position: relative;
    scale:1.5;
    top: 15px;
    &:hover{
        animation: bigsprite 1s steps(4);
        cursor: pointer;
    }
   
}


@keyframes bigsprite{
    0%{}
    100%{
        background-position: -168px;
    }
    }