
/* Les coeurs*/ 
.bigheart {
    background-image: url("../imagesEtTextesOhmyfood/images/logo/heart-outline.svg");
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in;
    position: relative;
    top: 30px;
    left: 20px;
    transform :scale(1.8, 1.8);
    &:hover{
        cursor: pointer;
        background-image: url("../imagesEtTextesOhmyfood/images/logo/heart.svg");
    }  
}

