

/* Les coeurs*/ 
.heart {
    background-image: url("../imagesEtTextesOhmyfood/images/logo/heart-outline.svg");
    width: 29px;
    height: 28px;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in;
    position: relative;
    

    &:hover{
        background-image: url("../imagesEtTextesOhmyfood/images/logo/heart.svg");
        cursor: pointer;
    } 
}

