

/* Les coeurs*/ 
.heart {
    background-image: url("../imagesEtTextesOhmyfood/images/logo/sprite.svg");
    width: 29px;
    height: 28px;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease-in;
    position: relative;
    

    &:hover{
        animation: sprite 1s steps(4);
        cursor: pointer;
    }
   
}

@keyframes sprite{
0%{}
100%{
    background-position: -168px;
}
}
