/* Le loader */

.loader{
position: fixed;
width: 100vw;
height: 100vh;
background-color: white;
z-index: 2;
display: flex;
justify-content: center;
align-items: center;
display:flex;
visibility: hidden;
animation : apparition 3s linear;
}


.circle {
    border: 16px solid #bdc3c7;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation: chargeur 3s linear;
    opacity: 0;  
}

@keyframes apparition{
0%{
    visibility: visible;
}
99%{
    visibility: visible; 
}


}

@keyframes chargeur {
    0% {
        transform: rotate(0deg) scale(1);
        border-top-color: #388572;
        border-bottom-color: #388572;
        opacity: 1;
    }

    25% {
        border-top-color: #9256dc;
        border-bottom-color: #9256dc;
    }

    50% {
        transform: rotate(360deg) scale(1.15);

        border-top-color: #FF79DA;
        border-bottom-color: #FF79DA;
    }

    75% {
        border-top-color: #388572;
        border-bottom-color: #388572;
    }

    100% {
        transform: rotate(720deg) scale(1);
        border-top-color: #9256dc;
        border-bottom-color: #9256dc;
        opacity: 0;
    }
}

