@mixin btndeux {
    font-size: nth($font-size, 1);
    border-radius: nth($radius, 1);
    border: none;
    background-color: $colour-quaternaire;
    @include shadow;
    cursor: pointer;
}


@mixin box-texte {
    padding: 10px;
    font-size: map-get($font-size, titre-resto);
    background-color: $colour-white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: $colour-black;
}

@mixin box-plat {
    gap: 5px;
    
    background-color: $colour-white;
    font-size: 16px;
    @include shadow;
    border-radius: 20px;
    color: $colour-black;
}

@mixin shadow($shadow: $shadow1, $color: $shadow-color ) {
    box-shadow: $shadow $shadow-color;
}


@mixin tablette-only {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin petits-points {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}